@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<link rel="icon" type="image/x-icon" href="../amitkhurana/images/favicon.png"/>
<title>Our High-Quality Mortgage Services - Amit Khurana </title>
    <meta name="description" content="Let's take a look at our mortgage services & find which one you need. CENTUM Canada team will be happy to assist you. Visit amitkhurana.ca and explore more!"/>
	 <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="Krwu5wmtrY6CDxKEg-V3Q6OEggfd8q8pKVPgeul-Kl8" />
    <!-- Title -->
    <title>amit khurana</title>
    <meta name="viewport" content="width=device-width">
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "ProfessionalService",
        "name": "AmitKhurana",
        "url": "http://amitkhurana.ca",
        "email" : "amit_khurana@centum.ca",
        "telephone": "6473412785",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "33 Mclaughlin Road North",
        "addressLocality": "Brampton",
        "addressRegion": "ON",
        "postalCode": "L6X 1Y8",
        "addressCountry": "CA"
        },
        "openingHoursSpecification": {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
        ],
        "opens": "09:00",
        "closes": "18:00"
        }
        }
    </script>

    <!-- ================================================================
        ***Favicon***
    ================================================================= -->
    <!--<link rel="shortcut icon" type="image/png" href="images/fevicon.png">-->
    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <link href="~/amitkhurana/css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <link href="~/amitkhurana/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <link href="~/amitkhurana/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** icofont CSS *** ======================= -->
    <link href="~/amitkhurana/css/icofont.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Owl Carousel CSS *** ================== -->
    <link href="~/amitkhurana/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Main CSS *** ========================== -->

    <link href="~/amitkhurana/css/custom/style.css" rel="stylesheet" type="text/css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128266398-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-128266398-1');
</script> 
</head>

<body class="home">
    <div id="preloader">
        <div class="preloader_spinner"></div>
    </div>
    <!-- preloader end -->
    <!-- ==========================================================
        1.*Header_area start
    ============================================================ -->
    <header>
        <div class="romana_header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-8">
                        <div class="romana_header_top_left">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope"></i>amit_khurana@centum.ca</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>647-341-2785</a></li>
                                <!-- <li><a href="#"><i class="icofont icofont-clock-time"></i>Mon-sat(10am-4pm)</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-md-5 col-sm-4">
                        <div class="romana_header_top_right text-right">
                            <a style="background-color:white; color:black;" href="~/images/CENTUM_Indigo_Mortgage-Application.pdf" target="_blank">Mortgage Application</a>
                            <a href="../Home/Appointment">Make an Appointment</a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
        <!-- Header-Top End -->
        <div class="romana_header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="romana_logo">
                            <a href="../Home/index"><img src="~/amitkhurana/images/logo.png" alt="Centum Indigo Mortgage Corp"></a>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only"></span>
                                <i class="fa fa-navicon"></i>
                            </button>
                        </div>
                        <nav id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                 <li class=""><a href="../Home/Index">home</a></li>
                                <li class=""><a href="../Home/About" >about us</a></li>

                                <li>
                                    <a href="#">My expertise</a>
                                   <ul class="dropdown-menu">
                                        <li><a href="../Home/mortgage_rates">Better mortgage rates</a></li>
                                        <li><a href="../Home/refinancing">Refinancing</a></li>
                                        <li><a href="../Home/debt_consolidation">debt_consolidation</a></li>
                                        <li><a href="../Home/private_funds">Private funds</a></li>
                                        <li><a href="../Home/mortgages">First & Second Mortgages</a></li>
                                        <li><a href="../Home/bruise_credit">Mortgages with bruise credit</a></li>
                                        <li><a href="../Home/lease_programme">Lease to Own programme</a></li>
                                        <li><a href="../Home/mortgage_loan">Better mortgage loans</a></li>
                                        <li><a href="../Home/mortgage_broker">Mortgage broker</a></li>
                                    </ul>
                                    <!-- dropdown-menu End -->
                                <li>
                                    <a href="#">mortgage calculators</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../Home/land_transfer">Land Transfer Tax</a></li>
                                        <li><a href="../Home/mortgage_payment">Mortgage Payment</a></li>
                                        <li><a href="../Home/cmhc_premium">CMHC Premium</a></li>
                                    </ul>
                                    <!-- dropdown-menu End -->
                                </li>
                                 <li><a href="../Home/news">mortgage news</a></li>
                                <li><a href="../Home/Contact">Contact</a></li>
                            </ul>
                            <!-- mega-menu End -->
                        </nav>
                        <!-- nav End -->
                        <!-- <ul class="cartSearch">
                         <li class="search"><a href="#"><i class="icofont icofont-search"></i></a></li>
                         <li class="cart"><a href="cart.html"><i class="icofont icofont-cart-alt"></i><span>1</span></a></li>
                     </ul>-->
                        <!-- cartSearch End -->
                        <form action="#" class="searchForm">
                            <i class="icofont icofont-close"></i>
                            <input type="search" placeholder="Search now">
                            <input type="submit" value="&#xeded;">
                        </form>
                        <!-- searchForm End -->
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
        <!-- Header Bottom End -->
    </header>
    <!-- Header End -->
    <!-- ==========================================================
    2.*Hero_area start
    ============================================================ -->
    <div class="romana_allPage_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="romana_allPage_text text-center">
                        <h1>services</h1>
                        <ol class="breadcrumb">
                            <li><a href="../Home/Index">Home</a><span></span></li>
                            <li class="active"><a href="../Home/appointment">Make an Appointment</a></li>
                        </ol>
                    </div>
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>
    <!-- ==========================================================
    3.*WoorksWith_area start
    ============================================================ -->
    <div class="romana_serviceImg_area romana_section_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser4.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="#" onclick="location.href='@Url.Action("mortgage_rates")'"><h3>BETTER MORTGAGE RATES</h3></a>
                            <p>CENTUM Mortgage Professionals have access to the latest information..</p>
                        </div>
                    </div>
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser9.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="#" onclick="location.href='@Url.Action("private_funds")'"><h3>PRIVATE FUNDS</h3></a>
                            <p>Most people tend to think of private financing as a last resort alternative,..</p>
                        </div>
                    </div>
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser8.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="#" onclick="location.href='@Url.Action("lease_programme")'"><h3>LEASE TO OWN PROGRAMME</h3></a>
                            <p>A rent to own program is a unique financing agreement wherein a lessor agrees..</p>
                        </div>
                    </div>

                </div>
                <!-- column End -->
                <div class="col-sm-4">
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser1.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="#" onclick="location.href='@Url.Action("refinancing")'"><h3>REFINANCING</h3></a>
                            <p>Since 1989, Centum has been helping Canadians meet their short and long term..</p>
                        </div>
                    </div>
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser5.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a  href="#" onclick="location.href='@Url.Action("mortgages")'"><h3>FIRST & SECOND MORTGAGES</h3></a>
                            <p>When we use the words "first" and "second" mortgages, we are not referring..</p>
                        </div>
                    </div>
                    <!--<div class="romana_service_singleImg">
                        <img src="images/ser8.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="lease_programme.html"><h3>LEASE TO OWN PROGRAMME</h3></a>
                            <p>A rent to own program is a unique financing agreement wherein a lessor agrees..</p>
                        </div>
                    </div>-->
                </div>
                <!-- column End -->
                <div class="col-sm-4">
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser3.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="#" onclick="location.href='@Url.Action("debt_consolidation")'"><h3>DEBT CONSOLIDATION</h3></a>
                            <p>Are you struggling to manage your payments? Wondering how to stay on top of all..</p>
                        </div>
                    </div>
                    <div class="romana_service_singleImg">
                        <img src="~/amitkhurana/images/ser6.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a  href="#" onclick="location.href='@Url.Action("bruise_credit")'"><h3>MORTGAGE BRUISE CREDIT</h3></a>
                            <p>If your credit is bruised, you may think there's no way you'll ever..</p>
                        </div>
                    </div>
                    <!--<div class="romana_service_singleImg">
                        <img src="images/ser9.jpg" alt="">
                        <div class="romana_serviceImg_text">
                            <a href="#"><h3>INVESTMENT PLANNING</h3></a>
                            <p>This enim ad minim veniam, quis nostrud exerci tation ullamip.</p>
                        </div>
                    </div>-->
                </div>
                <!-- column End -->
            </div>
            <!-- row End -->
        </div>
        <!-- container End -->
    </div>

    <!-- ==================================================
    6.*Brand_area start
    =================================================== -->
    <div class="romana_brand_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="brand_crsl">
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img1.png" alt="Caamp Accha Icon"></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img2.png" alt="Vaughan Chamber of Choice icon"></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img3.png" alt="The Construction Institue of Canada"></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img4.png" alt="Imba Icon"></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img5.png" alt="CFIB Icon"></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img1.png" alt="Caamp Accha Icon"></a>
                        </div>
                        <div class="single_brand">
                            <a href="#"><img src="~/amitkhurana/images/brand_img2.png" alt="Vaughan Chamber of Choice icon"></a>
                        </div>
                    </div>
                </div>
                <!-- column end-->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </div>
    <!-- ==================================================
    7.*Footer_area start
    =================================================== -->
    <footer class="romana_footer_area">
        <div class="romana_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="romana_footer_left">
                            <div class="romna_footer_logo">
                                <h2>Amit khurana</h2>
                                <!-- <a href="#"><img src="images/footer_logo.png" alt="footer logo"></a>-->
                            </div>
                            <p>At CENTUM Canada, we've been successfully delivering the best rate for tens of thousands of satisfied clients.</p>
                            <div class="romana_footer_social_link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-4 col-xs-12">
                        <div class="romana_important_link">
                            <h2>important links</h2>
                           <ul>
                                <li><a href="../Home/Index">home</a></li>
                                <li><a href="../Home/About">about us</a></li>
                                <li><a href="../Home/service">services</a></li>
                            </ul>
                        </div>
                        <div class="romana_important_link2">
                            <ul>
                                <li><a href="../Home/news">news</a></li>
                                <li><a href="../Home/Contact">contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- column End -->
                    <div class="col-sm-4 col-xs-12">
                         <div class="romana_recent_projects">
                            <h2>Our Services</h2>
                            <a href="../Home/mortgage_rates">
                                <img src="~/amitkhurana/images/footer_img1.png" alt="BETTER-MORTGAGE-RATES">
                            </a>

                            <a href="../Home/refinancing">
                                <img src="~/amitkhurana/images/footer_img2.png" alt="Residential-Mortgage-Refinancing-Brokers">
                            </a>
                            <a href="../Home/debt_consolidation">
                                <img src="~/amitkhurana/images/footer_img3.png" alt="CONSOLIDATE-YOUR-DEBT-PAYMENTS">
                            </a>
                            <a href="../Home/private_funds">
                                <img src="~/amitkhurana/images/footer_img4.png" alt="private_funds">
                            </a>
                            <a href="../Home/mortgages">
                                <img src="~/amitkhurana/images/footer_img5.png" alt="mortgages">
                            </a>
                            <a href="../Home/bruise_credit">
                                <img src="~/amitkhurana/images/footer_img6.png" alt="bruise_credit">
                            </a>
                            <a href="../Home/lease_programme">
                                <img src="~/amitkhurana/images/footer_img7.png" alt="lease_programme">
                            </a>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <div class="privacy_policy_link">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Privacy Policy: &nbsp;&nbsp;&nbsp;*Subject to approved credit, income verification and meeting lending credit granting criteria. Applies to residential mortgages only and some conditions may apply. O.A.C., E.O.E</p>
                        </div>
                        <!-- column End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- footer_top End -->
        <div class="romana_footer_bottom">
            <div class="container">
                <div class="romana_footer_bottom_content text-center">
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Amit Khurana 2018 &copy; All right reserved</p>
                        </div>
                        <!-- column End -->
                    </div>
                    <!-- row End -->
                </div>
                <!-- container End -->
            </div>
        </div>
        <!-- footer_bottom End -->
    </footer>
    <!-- ======================================================
        ***Js Files***
    =========================================================== -->
    <!-- ================= Main Js ==================== -->
    <script src="~/amitkhurana/js/jquery-3.1.0.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- ================= Bootstrap min Js =========== -->
    <script src="~/amitkhurana/js/bootstrap.min.js"></script>

    <!-- ================= owl carousel min Js ======== -->
    <script src="~/amitkhurana/js/owl.carousel.min.js"></script>

    <!-- ================= Active Js ================== -->
    <script src="~/amitkhurana/js/active.js"></script>

</body>

</html>
